<!-- Your footer code -->
<div id="footer">
     <div class="container">
       <div class="row">
         <div class="col-xs-12 text-center">
           <h3>Ninja Turtles Rule!</h3>
         </div>
       </div>
     </div>
   </div>
