<!-- Your footer code -->

<div id="footer">
  <ul class="list-inline">
    <li><% link_to "#" do %><i class="fa fa-youtube"></i><% end %></li>
    <li><% link_to "#" do %><i class="fa fa-instagram"></i><% end %></li>
    <li><% link_to "#" do %><i class="fa fa-facebook"></i><% end %></li>
    <li><% link_to "#" do %><i class="fa fa-twitter"></i><% end %></li>
  </ul>
</div>
