---
title: Ninja Turtles
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= image_path 'http://www.wallpaperup.com/uploads/wallpapers/2014/01/04/214746/ec095e66bbdab638d8e4484a4fa6540b.jpg' %>); background-attachment: fixed;">
   <div class="banner-content">

     <img id="njlogo" src='http://tmnt-cowabunga.fr/wp-content/uploads/2013/08/tmnt-loog-old.png' style="height: 200px; opacity:0.9;">

   </div>
 </div>

<div class="container" style="text-align: center">
 <h1 style="color: green">Ninja Turtles Rule!</h1>
     <p style="color: green">
       Ninja Turtles are the <strong>BEST</strong> superheros! The Teenage Mutant Ninja Turtles (often shortened to TMNT or Ninja Turtles) are four fictional teenage anthropomorphic turtles who are named after four Renaissance Italian artists. They were trained by their anthropomorphic rat sensei in the art of ninjutsu. When they don´t fight, they eat pizza.
     </p>
</div>

<div class="turtle-container">
  <!-- <div class="row"> -->
    <% data.turtles.each do |turtle| %>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <a href="<%= turtle.url %>" class="flipping-card" style="align-items: center">
        <div class="flipping-card-front">
          <%= image_tag turtle.picture, class: "img-responsive" %>
        </div>
        <div class="flipping-card-back">
          <h2><%= turtle.name.capitalize %></h2>
        </div>
      </a>
    </div>
    <% end %>
  <!-- </div> -->
</div>

