---
title: Team Members
---

<div class="padded text-center">
  <ul class="list-inline">
    <li>
      <%= image_tag "http://placehold.it/150", class: "img-circle" %>
      <h3>Alexis</h3>
    </li>
    <li>
      <%= image_tag "http://placehold.it/150", class: "img-circle" %>
      <h3>Robin</h3>
    </li>
    <li>
      <%= image_tag "http://placehold.it/150", class: "img-circle" %>
      <h3>Thibault</h3>
    </li>
  </ul>
</div>
