---
title: Team Members
---

<ul class="list-inline text-center">
  <li>
    <div>Alexis</div>
    <%= image_tag "http://placehold.it/200/200", class: "avatar-large" %>
  </li>
  <li>
    <div>Robin</div>
    <%= image_tag "http://placehold.it/200/200", class: "avatar-large" %>
  </li>
  <li>
    <div>Thibault</div>
    <%= image_tag "http://placehold.it/200/200", class: "avatar-large" %>
  </li>
</ul>
